img.carousal{
    max-height: 450px !important;
    min-height: 100px !important;
    height: 100%;
    width: 95%;
    border-radius: 10px;
}
div.carousal{
    position: relative;
    margin-top: 130px;
    overflow: hidden;
    margin-bottom: 30px;
}
hr{
    opacity: .7;
    width: 100%;
    height: 1px;
    background-color: var(--Main-Color);
}
div.LatestPost h1{
    color: #333;
    opacity: .8;
    font-family: var(--Head-Font);
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
}
div.LatestPost div.row div.Posts{
    min-height: 550px;
}
div.LatestPost div.row div.Posts div.content img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
div.LatestPost div.row div.Posts div.content span{
    padding-top: 10px;
    box-sizing: border-box;
    font-family: var(--Head-Font);
    color: var(--Sec-Color);
    /* border: 1px solid; */
}
div.LatestPost div.row div.Posts div.content span+span{
    padding: 0;
    letter-spacing: 1px;
    font-weight: 500;
}
div.LatestPost div.row div.Posts div.content span+span span{
    font-weight: 700;
}
span#Date{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 0;
    margin-left: 10px;
}
div.LatestPost div.row div.Posts div.content span.order-3{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.LatestPost div.row div.Posts div.content a{
    color : #333;
    font-family: var(--Head-Font);
    font-weight: 600;
    opacity: .9;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all .5s;
    word-spacing: 2px;
}
div.LatestPost div.row div.Posts div.content a:hover{
    text-decoration: none;
    color: var(--Main-Color);
    transition: all .5s;
}
div.Newsletter-Main{ 
    width: 100%;
    padding: 70px 0;
}
div.Newsletter-Main h1{
    font-weight: 700;
    font-family: var(--Head-Font);
    text-align: center;
    display: block;
    font-size: 26px;
}
div.Newsletter-Main p{
    color: #999;
    font-family: var(--Body-Font);
    word-spacing: 1px;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 300;
}
div.Newsletter-Main input{
    width: 45%;
    border-radius: 5px;
    padding: 9px;
    outline: none;
    border: 1.5px solid #D8DADb;
    transition: all 1s;
}
div.Newsletter-Main input::placeholder{
    color: #999 !important;
    font-family: var(--Head-Font);
    opacity: .6;
}
div.Newsletter-Main input:focus{
    box-shadow: 1px 1px  2px #D8DADb;
    border-color: var(--Main-Color);
    transition: all 1s;
}
div.Newsletter-Main button{
    margin-top: 10px;
    height: 40px;
    border: none;
    color: white;
    background-color: var(--Main-Color);
    font-family: var(--Head-Font);
    outline: none;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 3px;
    width: 45%;
}
div.Newsletter-Main ul.Social{
    margin: 10px auto;
}
div.Newsletter-Main ul.Social li{
    list-style: none;
    float: left;
    margin: 10px 0;
    margin-right: 20px;
    user-select: none;
    cursor: pointer;
}
div.Newsletter-Main ul.Social li i{
    transition: all .5s;
    transform: rotateZ(0deg);
    font-size: 20px;
    margin-right: 10px;
}
div.Newsletter-Main ul.Social li span{
    font-family: var(--Head-Font);
    font-size: 16px;
    margin-right: 10px;
    color: #999;
    transition: all 1s;
    font-weight: 500;
}
div.Newsletter-Main ul.Social li:nth-of-type(1) i{
    color: #3b5998 ;
}
div.Newsletter-Main ul.Social li:nth-of-type(2) i{
    color: var(--Main-Color) !important;
}
div.Newsletter-Main ul.Social li:nth-of-type(3) i{
    color: #38A1F3;
}
div.Newsletter-Main ul.Social li:nth-of-type(4) i{
    color: #0077B5;
}
div hr.NewsLine{
    opacity: .8;
    height: 1px;
    background-color: var(--Main-Color);
    width: 100%;
}
div.Newsletter-Main ul.Social li:hover i{
    transition: all 1s;
    transform: rotateZ(360deg)
}
div.Newsletter-Main ul.Social li:hover span{
    color: var(--Main-Color);
    transition: all 1s;
    opacity: .8;
}
div.footer{
    font-family: var(--Head-Font);
    font-size: 13px;
    margin-top: -8px;
    margin-bottom: 10px;
    letter-spacing: .5px;
    color: #333;
}
div.footer div.row span span{
    font-weight: 700;
    color: var(--Main-Color)
}
a.titlez{
    position: absolute;
    left:10%;
    z-index: 5;
    top: 50%;
    width: 40ch;
    white-space: wrap;
    overflow: hidden;
    font-family: var(--Head-Font);
    /* color: var(--Main-Color); */
    color: white;
    padding: 2px;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 2px;
}
p.InnerDetails{
    position: absolute;
    font-family: var(--Head-Font);
    color: #999;
    font-size: 18px;
    top: 80%;
    left: 10.3%;
    font-weight: 500;
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); */
}
p.InnerDetails span{
    font-weight: 700;
}